<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    
    <h3><%= listing.title %></h3>


    <div class="card listing-card" style="width: 18rem;">
        <img class="card-img-top show-img" src="<%=listing.image %>" alt="listing_image">
        <div class="card-body">
          <p class="card-text">
            
            <b><li><%= listing.description %></li></b>
            <b><li><%= listing.price.toLocaleString("en-IN")  %></li></b>
            <b><li><%= listing.location%></li></b>
            <b><li><%= listing.country%></li></b>
          </p>
        </div>
      </div>


      <div class="d-flex justify-content-left gap-3">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark px-4 edit-btn">Edit</a>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button type="submit" class="btn btn-dark px-4">Delete</button>
        </form>
    </div>


    
    
<br>
<hr>
<div class="col-8">
  <h4>Leave a Review</h4>
  <form action="/listings/<%=listing.id %>/review" method="POST" novalidate class="needs-validation"> 
    <div class="mb-3 mt-3">
      <label for="rating" class="form-label">Rating </label>
      <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
    </div>
    <div class="mb-3 mt-3">
      <label for="comment" class="form-label">Comments</label>
      <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
      <div class="invalid-feedback">Please submit feedback</div>
    </div>
    <button class="btn btn-outline-dark">Submit</button>
  </form>
</div>

<hr>
<h4>All Reviews</h4>
<div class="col-8">
  <div class="row">
    <% for(review of listing.reviews){ %>
      <div class="col-md-4">
        <div class="card mb-3 ">
          <div class="card-body">
            <h5 class="card-title ms-3">Sweta</h5>
            <p class="card-text ms-3"><%= review.comment %></p>
            <p class="card-text ms-3"><%= review.rating %> stars</p>
          </div>
          <form class="mb-3 ms-3" method="POST" action="/listings/<%=listing._id %>/reviews/<%=review._id %>?_method=DELETE">
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
        </div>
      </div>
    <% } %>
  </div>
</div>
